.logo-image {
  width: 100px;
  margin: 16px 24px;
}
.center-loading {
  height: 500px;
}

.btn-search {
  margin-bottom: 26px;
}

.box-wrapper {
  margin-top: 10px;
  padding: 5px 16px;
  border: 1px solid #aaa;
}

.search-title {
  top: 16px;
  position: absolute;
  background-color: #fff;
}

.select-filter {
  width: 100%;
}

.padding-left {
  padding-left: 16px;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-left-50 {
  padding-left: 50px;
}

.label-percentage {
  margin: 0 30px 20px 5px;
}

.grid-view {
  font-size: 13px;
  font-weight: 500;
}

.list-date {
  color: #fff;
  height: 42px;
  border: 1px solid;
  background-color: #006064;
}

.recettes{
  color: #fff;
  height: 42px;
  border: 1px solid;
  background-color: #00C853;
}

.recette-list-title {
  height: 42px;
  padding-right: 1%;
  border: 1px solid #fff;
  background-color: #BDBDBD;
}

.recette-list {
  color: #fff;
  height: 42px;
  border: 1px solid;
  padding-right: 1%;
  background-color: #43A047;
}

.total-recette {
  height: 42px;
  border: 1px solid #43A047;
  padding-right: 1%;
}

.depenses{
  color: #fff;
  height: 42px;
  border: 1px solid;
  background-color: #FF5722;
}

.depense-list-title {
  height: 42px;
  padding-right: 1%;
  border: 1px solid #fff;
  background-color: #BDBDBD;
}

.depense-list {
  color: #fff;
  height: 42px;
  border: 1px solid;
  padding-right: 1%;
  background-color: #FFC107;
}

.total-depense {
  height: 42px;
  border: 1px solid #FFC107;
  padding-right: 1%;
}

.total-transition {
  height: 42px;
  border: 1px solid #E53935;
  padding-right: 1%;
}

md-icon {
  margin: 0;
}

md-icon:hover {
  cursor: pointer;
}

.error {
  color: #F44336;
}

.modified {
  background-color: #9C27B0;
}
