<md-dialog aria-label="Adjusting Recette" ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>{{ctrl.group.name}}-{{ctrl.recette.name}}-Etalement</div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel($event)" type="button">
        <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="margin-top-30" ng-repeat="newRecette in ctrl.newRecettes">
      <div>Echéance {{$index + 1}}</div>
      <div class="box-wrapper">
        <div layout="column">
          <div layout="row" layout-align="start center">
            <md-input-container>
              <input ng-model="newRecette.percentage" ng-change="ctrl.updateRecetteValue(newRecette, $index)" ng-model-options="{debounce: 1000}" type="number" aria-label="percentage">
            </md-input-container>
            <span class="label-percentage">%</span>
            <md-input-container>
              <input ng-model="newRecette.value" ng-change="ctrl.updateRecettePercentage(newRecette, $index)" ng-model-options="{debounce: 1000}" type="number" aria-label="value">
            </md-input-container>
          </div>
          <md-datepicker ng-model="newRecette.month" md-placeholder="Enter date"></md-datepicker>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row" layout-align="space-between">
    <div ng-show="ctrl.errorForm.length" class="error">
      {{ctrl.errorForm}}
    </div>
    <md-button class="md-raised md-accent" ng-click="ctrl.submit()" aria-label="valider" type="button">Valider</md-button>
  </div>
  </form>
</md-dialog>