<md-dialog aria-label="Adjusting Recette"  ng-cloak>
  <form name="ctrl.form" novalidate="true">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div>{{ctrl.group.name}}-{{ctrl.recette.name}}</div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>Modification/Validation</div>
      <div class="box-wrapper">
        <div layout="column">
          <md-input-container>
            <label>Valeur</label>
            <input ng-model="ctrl.value">
          </md-input-container>
          <div>
            <span>Echéance</span>
            <md-datepicker ng-model="ctrl.month" md-placeholder="Enter date" class="date-picker"></md-datepicker>
          </div>
          <md-button class="md-raised md-accent" ng-click="ctrl.search()" type="button" aria-label="valider">Valider</md-button>
        </div>
      </div>
      <div class="margin-top-30">Etalement</div>
      <div class="box-wrapper">
        <div layout="column">
          <md-input-container>
            <label>fois</label>
            <input name="fois" ng-model="ctrl.fois" required min="2" type="number">
            <div ng-messages="ctrl.form.fois.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="min">must be greater than 1</div>
            </div>
          </md-input-container>
          <md-button class="md-raised md-accent" ng-click="ctrl.openModify($event)" aria-label="etaler">Etaler</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>